* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 50vh;
}
#app {
    display: flex;
    justify-content: space-between;
    width: 80%;
}
.column {
    display: flex;
    flex-direction: column;
    border: 3px solid black;
    border-radius: 10px;
    padding: 2em;
    width: 30%;
}